<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Barq Telecommunication Private Limited</title>

		<!-- Open Graph / Social Media Meta Tags -->
		<meta property="og:title" content="BRIFT Consultancy" />
		<meta
			property="og:description"
			content="Barq telecommunication company provides guaranteed data services (CIR), mainly through wireless dishes and also fiber, to businesses and homes."
		/>
		<meta
			property="og:image"
			content="https://www.barq.net.pk/images/og-image.webp"
		/>
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:type" content="image/webp" />
		<meta
			property="og:image:alt"
			content="Barq Private Limited - Dedicated Data, Dependable Service."
		/>
		<meta property="og:url" content="https://www.barq.net.pk" />
		<meta property="og:type" content="website" />

		<!-- Twitter Card Meta Tags -->
		<meta
			name="twitter:card"
			content="Barq Private Limited - Dedicated Data, Dependable Service."
		/>
		<meta name="twitter:title" content="Barq Pvt LTD" />
		<meta
			name="twitter:description"
			content="Barq telecommunication company provides guaranteed data services (CIR), mainly through wireless dishes and also fiber, to businesses and homes."
		/>
		<meta name="twitter:image" content="/images/og-image.webp" />

		<!-- Favicon -->
		<link
			rel="icon"
			type="image/png"
			href="/images/favicon/favicon-96x96.png"
			sizes="96x96"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/images/favicon/favicon.svg"
		/>
		<link rel="shortcut icon" href="/images/favicon/favicon.ico" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/images/favicon/apple-touch-icon.png"
		/>
		<meta name="apple-mobile-web-app-title" content="Barq" />
		<link rel="manifest" href="/images/favicon/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
